<mat-card class="example-card">
  <mat-card-header>
    <img *ngFor="let user of assignmentTransmis.UserData" mat-card-avatar [src]="linkImage+user.picture">
    <mat-card-title>
      Matière {{assignmentTransmis.SubjectData.designation}} <mat-slide-toggle
        checked="{{assignmentTransmis.isRender}}" (click)="onAssignmentRendu()" *ngIf="assignmentTransmis.note"
        disabled></mat-slide-toggle>
    </mat-card-title>
    <mat-card-subtitle>{{isrender}} {{assignmentTransmis.renderedAt |
      date}} 
    </mat-card-subtitle>
      
      

    <!-- <ng-template #rendu>
      <mat-card-subtitle>devoir rendu le : {{assignmentTransmis!.renderedAt | date}}</mat-card-subtitle>
    </ng-template> -->
    <span class="example-spacer"></span>
    <button *ngIf="CurrentUser.isAdmin" routerLink="/assignments/edit/{{assignmentTransmis._id}}" mat-icon-button
      class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon color="primary">edit</mat-icon>
    </button>
    <button *ngIf="CurrentUser.isAdmin" mat-icon-button class="example-icon" (click)="onDeleteAssignment()"
      aria-label="Example icon-button with share icon">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="item-desc">
      <strong>Titre</strong>
      <p>
        {{assignmentTransmis!.title}}
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="item-desc">
      <strong>description</strong>
      <p>
        {{assignmentTransmis!.description}}
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="item-desc">
      <strong>PJ</strong>

      <p>
        <a target="_blank" [href]="linkImage+assignmentTransmis!.PJ">telecharger Le fichier</a>
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="item-desc">
      <strong>Note</strong>
      <p>
        {{assignmentTransmis!.note}}
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="item-desc">
      <strong>Remarque</strong>
      <p>
        {{assignmentTransmis!.remark}}
      </p>
    </div>
  </mat-card-content>
</mat-card>