#bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* 
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  padding: 5px;
}

.grid-item {
  padding: .5rem;
  color: white;
  margin-top: -1%;

} */

/* ================= */
mat-card {
  margin-top: 16px;
  margin-right: 16px;
}

/* ================= */