<h3 *ngIf="isLogged && !CurrentUser.isAdmin">Liste de mes devoirs</h3>
<mat-divider></mat-divider>
<div id="content">
    <div class="container-for-student" *ngIf="isLogged && !CurrentUser.isAdmin">
        <cdk-virtual-scroll-viewport itemSize="1" class="example-viewport" #scroller>
            <mat-grid-list cols="3">
                <mat-grid-tile class="grid-title" *cdkVirtualFor="let assignment of assignments">
                    <mat-card class="example-card-item">
                        <mat-card-header>
                            <img mat-card-avatar src="assets/image/profil.png">
                            <mat-card-title>
                                Matière {{assignment.SubjectData.designation}} <mat-slide-toggle
                                    checked></mat-slide-toggle>
                            </mat-card-title>
                            <mat-card-subtitle>A rendre le {{assignment.renderedAt|date}}</mat-card-subtitle>
                        </mat-card-header>
                        <img *ngFor="let user of assignment.UserData" mat-card-image [src]="linkImage+user.picture"
                            height="200px" alt="{{user.lastname}}" />
                        <mat-card-content>
                            <p>{{assignment.description}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button class="button-detail" routerLink="/assignments/{{assignment._id}}"
                                mat-stroked-button>DETAIL {{assignment.id}}</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </cdk-virtual-scroll-viewport>
    </div>
    <div *ngIf="isLogged && CurrentUser.isAdmin">
        <div class="example-container">
            <h3>Devoir à rendre</h3>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of todo" cdkDrag >
                    <mat-card class="example-card">
                        <mat-card-header>
                            <img mat-card-avatar src="assets/image/profil.png">
                            <mat-card-title>
                                Matière {{item.SubjectData.designation}} <mat-slide-toggle checked></mat-slide-toggle>
                            </mat-card-title>
                            <mat-card-subtitle>A rendre le {{item.renderedAt|date}}</mat-card-subtitle>
                            <span class="example-spacer"></span>
                            <button routerLink="/assignments/{{item._id}}" mat-icon-button
                                class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                                <mat-icon class="icon-view">menu</mat-icon>
                            </button>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{item.title}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="example-container">
            <h3>Devoir déjà rendu</h3>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag [cdkDragDisabled]="true">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <img mat-card-avatar src="assets/image/profil.png">
                            <mat-card-title>
                                Matière {{item.SubjectData.designation}} <mat-slide-toggle checked></mat-slide-toggle>
                            </mat-card-title>
                            <mat-card-subtitle>A rendre le {{item.renderedAt|date}}</mat-card-subtitle>
                            <span class="example-spacer"></span>
                            <button routerLink="/assignments/{{item._id}}" mat-icon-button
                                class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                                <mat-icon class="icon-view">menu</mat-icon>
                            </button>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{item.title}}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>