<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h3>Login</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Entrer votre Email</mat-label>
        <input type="email" matInput placeholder="Ex : sonja@gmail.com" [(ngModel)]="email" name="email">
        <mat-error>
          Entrer un email valide svp!
        </mat-error>
        <mat-error>
          Email est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Entrer votre mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button class="action" mat-raised-button (click)="login()" color="primary">Se connecter</button>
  </mat-card-actions>
</mat-card>