<mat-toolbar>
    <nav>
        <a routerLink="/home"><span>{{title}}</span></a>
    </nav>
    <span class="example-spacer"></span>
    <a *ngIf="!isLogged" routerLink="/login">
        <button mat-raised-button>Se connecter</button>
    </a>
    <button *ngIf="isLogged" mat-raised-button (click)="logout()">Se déconnecter</button>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <img class="avatar mat-elevation-z8" src="assets/image/profil.png" />

        <h4 class="name">
            <span *ngIf="isLogged">{{nom}}</span>
        </h4>
        <p class="designation" *ngIf="isLogged && CurrentUser.role == 'teacher'">Enseignant(e)</p>
        <p class="designation" *ngIf="isLogged && CurrentUser.role == 'student'">Etudiant(e)</p>

        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Accueil</span>
        </button>

        <button mat-button class="menu-button" routerLink="/add">
            <mat-icon>add</mat-icon>
            <span>Assignment</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" (click)="creerDonneesDeTest()">
            <mat-icon>help</mat-icon>
            <span>Ajout données</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <!-- Indique que le composant affiché sera celui correspondant à l'URL courant -->
            <router-outlet class="darkmode"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>