<h3>Ajout d'un Assignment</h3>
<!-- <nav class="ajouterBtn">
      <button mat-flat-button color="accent" (click)="addNote()"> 
          {{stringNote}}
      </button>
</nav> -->


<!-- <form ngForm #assignmentForm (submit)="onSubmit($event);" class="form"> -->
    <!-- <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" placeholder="nom" name="nom" required>
    </mat-form-field> -->
    <!-- <mat-form-field>
      <input matInput [(ngModel)]="auteur" placeholder="auteur" name="auteur" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="matiere" placeholder="matiere" name="matiere" required>
    </mat-form-field>
    <mat-form-field *ngIf="haveNote">
      <input matInput [(ngModel)]="note" value="" placeholder="note" name="note" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="remarque" placeholder="remarque" name="remarque" required>
    </mat-form-field> -->

    <!-- <mat-form-field appearance="fill">
        <mat-label>Date de rendu</mat-label>
        <input matInput [matDatepicker]="picker" 
        [(ngModel)]="dateDeRendu"
        name="date" required
        >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      
      <!-- <input type="file"  (change)="fileChange($event)" class="form-control" placeholder="Image" required="required" /> -->

    <!-- <button mat-stroked-button color="primary">
      Ajouter un devoir
    </button> -->

    <!-- <img *ngIf="isImageExist" width="100px" height="50px" class="img-fluid" [src]="linkIdImageEleve"/> -->

<!-- </form> -->


<h1>Etape d'Ajout Assignment</h1>
<form ngForm #assignmentForm (submit)="onSubmit($event);" class="form">
<mat-vertical-stepper #stepper (click)="move(index)">
   
  <mat-step label="Step 1 (Obligatoire)" >
		<p>
		<mat-form-field appearance="fill" >
		  <mat-label>Nom</mat-label>
		  <input matInput placeholder="Placeholder" [(ngModel)]="nomDevoir" name="nom" required>
		  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>		  
		</mat-form-field>
	  </p>
	  <p>
		<mat-form-field appearance="fill">
		  <mat-label>Auteur</mat-label>
		  <input matInput placeholder="Placeholder" [(ngModel)]="auteur" placeholder="auteur" name="auteur" required>
		  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>		  
		</mat-form-field>
	  </p>

	  <p>
		<mat-form-field appearance="fill">
		  <mat-label>Matiere</mat-label>
		  <input matInput placeholder="Placeholder" [(ngModel)]="matiere" placeholder="matiere" name="matiere" required>
		  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>		  
		</mat-form-field>
	  </p>

	  <p>
		<mat-form-field appearance="fill">
		  <mat-label>Remarque</mat-label>
		  <input matInput placeholder="Placeholder" [(ngModel)]="remarque" placeholder="remarque" name="remarque">
		  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>		  
		</mat-form-field>
	  </p>
		<p>
			<mat-form-field>
				<mat-label>Choose a date</mat-label>
				<input matInput [matDatepicker]="picker"  
				[(ngModel)]="dateDeRendu"
				name="date" required>
				<mat-hint>MM/DD/YYYY</mat-hint>
				<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</p>

		<a mat-button (click)="move(1)">Besoin de Note</a>
		<a mat-button (click)="move(2)">Besoin d'Image de l'Eleve</a>
		<a mat-button (click)="move(3)">Finalisez</a>

  </mat-step>

	<mat-step label="Step 2 (note)">
	
		<p>
			<mat-form-field appearance="fill">
			  <mat-label>note</mat-label>
			  <input matInput [(ngModel)]="note" value="" type="number" placeholder="note" name="note" required>
			  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>		  
			</mat-form-field>
		</p>
		<a mat-button (click)="move(0)">Revenir</a>
		<a mat-button (click)="move(2)">Besoin d'Image de l'Eleve</a>
		<a mat-button (click)="move(3)">Finalisez</a>
	  </mat-step>
  
    
  <mat-step label="Step 3">
	<mat-card-content>
		<br><br>
		
		<mat-form-field>
			<mat-label>File</mat-label>
			<a mat-icon-button matPrefix (click)="f_input.click()">
        <mat-icon>attach_file</mat-icon>
			</a>
			<input type="text" readonly matInput [formControl]="display" />
			<input
        type="file"
        multiple
        hidden
        #f_input
        (change)="handleFileInputChange(f_input.files)"
      />
		<mat-error>this field is required</mat-error>
		</mat-form-field>
		<br><br>
	</mat-card-content>
	<p>
		<img *ngIf="fileImg" class="img-fluid" [src]="(fileImg)" width="150px" height="100px"/>
	</p>
	<a mat-button (click)="move(0)">Revenir</a>
	<a mat-button (click)="move(1)">Besoin de Note</a>
	<a mat-button (click)="move(3)">Finalisez</a>
  </mat-step>   

  <mat-step label="Step 4">
	
	
	<div class="example-button-row">
		<a mat-button (click)="move(0)">Revenir</a>
		<p>
			<button mat-raised-button style="width: 100%;">Valider</button>
		</p>
	</div>

  </mat-step>   

</mat-vertical-stepper>

</form>

