.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

/*  */

#bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

mat-card {
    margin-top: 16px;
    margin-right: 16px;
}

.item-desc {
    margin-top: 12px;
}

.example-spacer {
    flex: 1 1 auto;
}

/* ================= */
mat-form-field{
    width: 100%;
}

/*  */