<form ngForm #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="assets/image/profil.png">
    <mat-card-title>
      Matière Big data <mat-slide-toggle checked></mat-slide-toggle>
    </mat-card-title>
    <!--  -->
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      <mat-icon color="primary">save</mat-icon>
    </button>
    <!--  -->
  </mat-card-header>
  <mat-card-content>
    <!--  -->
    <div class="item-desc">
      <mat-form-field>
        <mat-label>Deadline</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="renderAt" name="renderAt">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    
    <!--  -->
    <div class="item-desc">
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input matInput [(ngModel)]="title" name="title">
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="item-desc">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" [(ngModel)]="description" name="description"></textarea>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>PJ</mat-label>
      <a mat-icon-button matPrefix (click)="f_input.click()">
        <mat-icon style="color: black;">attach_file</mat-icon>
      </a>
      <input type="text" readonly matInput [formControl]="display"/>
      <input type="file" hidden #f_input
      (change)="InputFileChange(f_input.files)" />
      <mat-error>this field is required</mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>
    <div class="item-desc">
      <mat-form-field>
        <mat-label>Note</mat-label>
        <input matInput type="number" [(ngModel)]="note" name="note">
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="item-desc">
      <mat-form-field>
        <mat-label>Remarque</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5"  [(ngModel)]="remark" name="remark"></textarea>
      </mat-form-field>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions id="bottom">
    <button mat-button color="primary" (click)="onEditAssignment()">
      Modifier
    </button>
    <button mat-button color="accent" (click)="onDeleteAssignment()">
      Supprimer
    </button>
  </mat-card-actions> -->
</mat-card>
</form>